@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,500;1,100;1,500&display=swap');
* {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
h1 {
    color: aliceblue;
}
h3 {
    font-size: small;
}
header {
    background-color: darkgray;
    text-align: center;
}
main {
    padding: 50px;
    background-color: darkgray;
}
main > ul > li{
    font-style: italic;
}
table, th, td {
    border:1px solid black;
}
.nav_links li {
    display: inline-block;
    padding: 30px;
}
#Logo {
    width: 100px;
    border-radius: 50%;

}
a {
    color: aliceblue;
} 
.wolves {
    height: 200px;
}
.types {
    width: 30vh;
}
#lonewolf {
    height: 500px;
}
footer {
    background-color:darkgray;
    height: 100vh;
}
